<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} | TypeQuiz</title>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>

        {% block extra_head %} {% endblock %}
    </head>
    <body>
        <div class="container">

            <header>
                <div class="row">
                    <h1><a href="/">TypeQuiz</a></h1>
                    <p>A weekend project by <a href="http://www.caseykinsey.com">Casey Kinsey</a></p>
                </div>
            </header>

            <div class="row">
                <div class="span12">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>